<!DOCTYPE html>
<html>
<head>
  <title>AWS Fargate Pricing Calculator</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.3/dist/vuetify.min.js"></script>
  <script src="https://unpkg.com/vue-currency-filter@3.2.3/dist/vue-currency-filter.iife.js"></script>
  <script src="//d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tooltip-js@3.0.0/dist/tooltip.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145014718-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-145014718-1');
  </script>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-layout class="text-center mb-5">
            <v-flex xs12>
              <h1>AWS Fargate Pricing Calculator</h1>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12 sm4 offset-sm-4 class="px-2">
              <v-autocomplete
                v-model="region"
                :items="regionsForRender"
                label="Region"
                item-text="text"
                item-value="value"
              ></v-autocomplete>
            </v-flex>
          </v-layout>
          <v-layout wrap>
            <v-flex xs12 sm3 class="px-1">
              <v-select
                v-model="timeType"
                :items="['Hours', 'Minutes']"
                label="Time"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm3 class="px-1">
              <v-text-field
                v-model="duration"
                label="Duration"
                type="number"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm3 class="px-1">
              <v-select
                v-model="cpu"
                :items="cpusForRender"
                label="vCPU"
                @input="alignRamValue()"
                item-text="text"
                item-value="value"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm3 class="px-1">
              <v-select
                v-model="ram"
                :items="ramsForRender"
                label="RAM"
                @input="alignCpuValue()"
                item-text="text"
                item-value="value"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout wrap>
            <v-flex xs12 sm6 class="align-self-center mb-3 mb-sm-0">
              <v-layout wrap class="font-weight-medium headline">
                <v-flex xs6>
                  Total:
                </v-flex>
                <v-flex xs6>
                  <span>{{ amount | currency }}</span>
                </v-flex>
              </v-layout>
              <v-layout wrap class="font-weight-medium">
                <v-flex xs6>
                  vCPU:
                </v-flex>
                <v-flex xs6>
                  <span>{{ cpuPrice | currency }}</span>
                </v-flex>
              </v-layout>
              <v-layout wrap class="font-weight-medium">
                <v-flex xs6>
                  RAM:
                </v-flex>
                <v-flex xs6>
                  <span>{{ ramPrice | currency }}</span>
                </v-flex>
              </v-layout>
              <v-layout wrap class="mt-2">
                <v-flex xs6>
                  per vCPU per hour:
                </v-flex>
                <v-flex xs6>
                  {{ pricePerHour[region].cpu | currency }}
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs6>
                  per GB per hour:
                </v-flex>
                <v-flex xs6>
                  {{ pricePerHour[region].ram | currency }}
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm6 id="graph" ref="graph">
              <v-tooltip :left="hoverType === 'vCPU'" :right="hoverType === 'RAM'">
                <template v-slot:activator="{ on }">
                  <svg
                    :width="graphConfig.width"
                    :height="graphConfig.height"
                    class="mx-auto d-block" v-on="on"></svg>
                </template>
                <span>{{ `${hoverType}: ${hoverPercent.toFixed(1)}%` }}</span>
              </v-tooltip>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script>
    const TYPE_MINUTES = 'Minutes';
    const TYPE_HOURS = 'Hours';
    if (VueCurrencyFilter) {
      Vue.use(VueCurrencyFilter, {
        symbol : '$',
        thousandsSeparator: ',',
        fractionCount: 6,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
      })
    }

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        cpu: 0.25,
        ram: 1,
        region: 'us-east-1',
        timeType: 'Hours',
        duration: 1,
        graphContainer: null,
        graph: null,
        graphConfig: {
          width: 250,
          height: 260,
          radius: 250/2,
          color: d3.scaleOrdinal(d3.schemeCategory10)
        },
        graphHelper: {
          pie: null,
          arc: null
        },
        hoverType: 'vCPU',
        hoverPercent: 0
      },
      computed: {
        cpus() {
          let docs = {};
          this.cpusForRender.forEach(cpu => {
            let d = cpu.value;

            switch(d) {
              case 0.25:
                docs[d] = [0.5, 1, 2];
                break;
              case 0.5:
                docs[d] = Array(4).fill(4).map((d, i) => i + 1);
                break;
              case 1:
                docs[d] = Array(7).fill(7).map((d, i) => i + 2);
                break;
              case 2:
                docs[d] = Array(13).fill(13).map((d, i) => i + 4);
                break;
              case 4:
                docs[d] = Array(23).fill(23).map((d, i) => i + 8);
                break;
            }
          });

          return docs;
        },
        rams() {
          let docs = {};

          this.ramsForRender.forEach(ram => {
            let d = ram.value;

            if(d > 16) {
              docs[d] = [4];
            } else if (d > 8) {
              docs[d] = [2, 4];
            } else if (d > 4) {
              docs[d] = [1, 2, 4];
            } else if (d > 2) {
              docs[d] = [0.5, 1, 2];
            } else if (d > 1) {
              docs[d] = [0.25, 0.5, 1];
            } else if (d > 0.5) {
              docs[d] = [0.25, 0.5];
            } else {
              docs[d] = [0.25];
            }
          })

          return docs;
        },
        regions() {
          return {
            "us-east-1":"US East (N. Virginia)",
            "us-east-2":"US East (Ohio)",
            "us-west-1":"US West (Northern California)",
            "us-west-2":"US West (Oregon)",
            "ap-south-1":"Asia Pacific (Mumbai)",
            "ap-northeast-2":"Asia Pacific (Seoul)",
            "ap-southeast-1":"Asia Pacific (Singapore)",
            "ap-southeast-2":"Asia Pacific (Sydney)",
            "ap-northeast-1":"Asia Pacific (Tokyo)",
            "ca-central-1":"Canada (Central)",
            "eu-central-1":"EU (Frankfurt)",
            "eu-west-1":"EU (Ireland)",
            "eu-west-2":"EU (London)",
            "us-gov-east-1":"AWS GovCloud (US-East)",
            "us-gov-west-1":"AWS GovCloud (US-West)"
          }
        },
        pricePerHour() {
          return {
            "us-east-2":{"cpu":0.04048,"ram":0.004445},
            "us-east-1":{"cpu":0.04048,"ram":0.004445},
            "us-west-1":{"cpu":0.04656,"ram":0.00511},
            "us-west-2":{"cpu":0.04048,"ram":0.004445},
            "ap-south-1":{"cpu":0.04256,"ram":0.004655},
            "ap-northeast-2":{"cpu":0.04656,"ram":0.00511},
            "ap-southeast-1":{"cpu":0.05056,"ram":0.00553},
            "ap-southeast-2":{"cpu":0.04856,"ram":0.00532},
            "ap-northeast-1":{"cpu":0.05056,"ram":0.00553},
            "ca-central-1":{"cpu":0.04456,"ram":0.004865},
            "eu-central-1":{"cpu":0.04656,"ram":0.00511},
            "eu-west-1":{"cpu":0.04048,"ram":0.004445},
            "eu-west-2":{"cpu":0.04656,"ram":0.00511},
            "us-gov-east-1":{"cpu":0.0486,"ram":0.0053},
            "us-gov-west-1":{"cpu":0.0486,"ram":0.0053}
          }
        },
        regionsForRender() {
          return Object.keys(this.regions).map(d => {
            return {
              text: this.regions[d],
              value: d
            }
          })
        },
        cpusForRender() {
          let cpus = [0.25, 0.5, 1, 2, 4];

          return cpus.map(d => {            
            return {
              text: `${d} vCPU`,
              value: d
            }
          })
        },
        ramsForRender() {
          let rams = [];

          return Array(31).fill(1).map((d, i) => {
            let val = i === 0 ? 0.5 : i;
            
            return {
              text: `${val}GB`,
              value: val
            }
          })
        },
        amount() {
          return this.cpuPrice + this.ramPrice;
        },
        durationInMinute() {
          let duration = this.duration;

          if(duration < 0 || isNaN(duration)) {
            duration = 0;
          }

          if(this.timeType === TYPE_HOURS) {
            duration *= 60;
          }

          return Math.ceil(duration);
        },
        unitPrice() {
          return this.pricePerHour[this.region];
        },
        cpuPrice() {
          return this.durationInMinute*this.cpu*this.unitPrice.cpu/60
        },
        ramPrice() {
          return this.durationInMinute*this.ram*this.unitPrice.ram/60
        },
      },
      created() {
        this.graphHelper.pie = d3.pie()
          .value(d => d.price)
          .sort(null);
        this.graphHelper.arc = d3.arc()
          .innerRadius(0)
          .outerRadius(this.graphConfig.radius);
      },
      mounted() {
        this.graphContainer = d3.select('#graph');
        this.graph = this.graphContainer.select('svg')
          .append("g")
          .attr("transform", "translate(" + this.graphConfig.width / 2 + "," + this.graphConfig.height / 2 + ")");
        this.drawGraph();
      },
      methods: {
        alignCpuValue() {
          if(this.rams[this.ram].indexOf(this.cpu) === -1) {
            this.cpu = this.rams[this.ram][0];
          }
          this.drawGraph()
        },
        alignRamValue() {
          if(this.cpus[this.cpu].indexOf(this.ram) === -1) {
            this.ram = this.cpus[this.cpu][0];
          }
          this.drawGraph()
        },
        drawGraph() {
          let _vue = this;

          function arcTween(a) {
            const i = d3.interpolate(this._current, a);
            this._current = i(1);
            return (t) => _vue.graphHelper.arc(i(t));
          }

          const path = this.graph.selectAll("path")
            .data(this.graphHelper.pie([
              {
                type: 'RAM',
                price: this.ramPrice
              },
              {
                type: 'vCPU',
                price: this.cpuPrice
              }
            ]));
          
          // Update existing arcs
          path.transition().duration(200).attrTween("d", arcTween);

          // Enter new arcs
          path.enter().append("path")
            .attr("fill", (d, i) => this.graphConfig.color(i))
            .attr("d", this.graphHelper.arc)
            .attr("stroke", "white")
            .attr("stroke-width", "2px")
            .style('opacity', 1)
            .on('mouseover', function(d) {
              d3.selectAll('path').style('opacity', 0.8);
              d3.select(this).style('opacity', 1);
              _vue.hoverPercent = Math.abs(d.endAngle - d.startAngle)*100/(2*Math.PI);
              _vue.hoverType = d.data.type;
            })
            .on('mouseout', function(d) {
              d3.selectAll('path').style('opacity', 1);
              const percentage = Math.abs(d.endAngle - d.startAngle)*100/(2*Math.PI);
              const title = `${d.type}: ${percentage.toFixed(1)}%`;
            })
            .each(function(d) {
              this._current = d;
            });
        }
      }
    })
  </script>
</body>
</html>
